table.wdf{
    table-layout:fixed;
    border-collapse: collapse;
}

table.wdf,tr.wdf,td.wdf,th.wdf {
    border: 1px solid black;
}

td.wdf, th.wdf {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
    white-space: nowrap;
}
div.wdf_masker{
    overflow:hidden;
    width: 100%;
    white-space: nowrap;
}