<!DOCTYPE html>
<%
function get_function_name(code){
    var n = code.replace(/^\s*/,"").replace(/^var\s+/,"");
    return ( n.match( /^([$_\.\w]+)\s*=\s*function/ ) ||
             n.match( /^function\s+([$_\.\w]+)\s*\(/ ) ||
             []) [1] ;

}
function process(sources,title,hasTitle,sections){
  var sect_info = [];
  for (var i=0, l=sections.length; i<l; i++) {
    var code = sections[i].codeText;
    sect_info.push({name: get_function_name(code) });
  }
  return { sect_info : sect_info , isCode : title.lastIndexOf(".js") == (title.length-3) };
}

var d = process(sources,title,hasTitle,sections);
var mocha = title === "Tests" ;
%>
<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" media="all" href="<%= css %>" />
  <% if( mocha ){ %>
        <link rel="stylesheet" href="mocha.css" />
  <% } %>
</head>
<head>
</head>
<body>
  <div id="container">
    <%
    var ul_class = "";
    if( d.isCode ){
      ul_class = "sections"; %>
      <div id="background"></div>
    <% } %>
    <%
    if (sources.length > 1) { %>
      <ul id="jump_to">
        <li>
          <a class="large" href="javascript:void(0);">Jump To &hellip;</a>
          <a class="small" href="javascript:void(0);">+</a>
          <div id="jump_wrapper">
          <div id="jump_page_wrapper">
            <div id="jump_page">
              <% for (var i=0, l=sources.length; i<l; i++) { %>
                <% var source = sources[i]; %>
                <a class="source" href="<%= path.basename(destination(source)) %>">
                  <%= path.basename(source) %>
                </a>
              <% } %>
            </div>
          </div>
        </li>
      </ul>
    <% } %>
    <ul class="<%= ul_class %>">
        <%
        if (!hasTitle) { %>
          <li id="title">
              <div class="annotation">
                  <h1><%= title %></h1>
              </div>
          </li>
        <% } %>
        <%
        for (var i=0, l=sections.length; i<l; i++) {
           var section = sections[i];
           var si = d.sect_info[i];
           if( si.name ){ %>
              <a name="<%= si.name %>" />
        <% } %>
        <li id="section-<%= i + 1 %>">

            <div class="annotation">
              <% heading = section.docsHtml.match(/^\s*<(h\d)>/) %>
              <div class="pilwrap <%= heading ? 'for-' + heading[1] : '' %>">
                <a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
              </div>
              <%= section.docsHtml %>
            </div>
            <% if (section.codeText.replace(/\s/gm, '') != '') { %>
                 <div class="content"><%= section.codeHtml %></div>
            <% } %>
        </li>
        <% } %>
    </ul>
    <p>
  <%
  if( mocha ){ %>
    <div id="mocha">
    <div id="messages"></div>
    <div id="fixtures"></div>
    <script src="testBundle.js"></script>
  <% } %>

  </div>
</body>
</html>
